extends layout

block content
  div.list-header
    div.list-title-container
      a(href="/dashboard")
        img(src="/images/arrow-left-circle.svg" alt="Left Back Arrow")
      p #{list.name}
      div.list-users
        if list.owner.image
          img(src=list.owner.image alt="owner photo" class="profile-pic")
        else
          img(src="/images/user.svg" alt="owner photo" class="profile-pic")
        a(href=`/dashboard/list/${list.id}/share`) Share
        img(src="/images/users.svg" alt="users sharing")
          

  div.list-add-container
    a(href=`/dashboard/list/${list.id}/item/create`) Add Item
  div.list-items-container
    if list_items.length===0
      p No Items in list
    else
      each item in list_items
        +listItemContainer(item)
          p=item.name
          a(href=`/dashboard/item/${item.id}/delete`)
            img(src="/images/remove-button.png" alt="Delete List Item")
          a(href=`/dashboard/item/${item.id}/edit`) Edit
          a(href=`/dashboard/item/${item.id}/toggle`)
            img(src="/images/next.png" alt="Toggle Item Status")

mixin listItemContainer(xxx)
  if xxx.status === "to-do"
    div.list-item-container.to-do
      block
  else
    div.list-item-container
      block